.bg-YlnMnBlue {
    background: #3E517A;
}
.bg-YlnMnLightBlue {
    background: #506186;
}
.bg-Tomato {
    background: #FC5130;
}
.bg-Timberwolf {
    background: #CFCFCD;
}
.bg-Platinum {
    background: #D7DEDC;
}
.bg-HunterGreen {
    background: #49684D;
}